.thumb__width {
    max-inline-size: min(var(--thmb-w), 100%);
}

.thumb__height {
    max-block-size: var(--thmb-fig);
}

.pad-gallery {
    margin-inline: var(--pad-gallery);
}

.aside__in {
    animation: asideIn .4s ease-out forwards;
}

.aside__out {
    animation: asideOut .3s ease-in-out forwards;
}

@keyframes asideIn {
    from {
        translate: 100% 0;
    }
    to {
        translate: 0 0;
    }
}

@keyframes asideOut {
    from {
        opacity: 1;
        filter: blur(0);
        /* translate: 0; */
    }
    to {
        opacity: .7;
        filter: blur(6px);
        /* translate: -100% 0; */
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
