body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title__galleria {
    inline-size: clamp(7.0625rem, 2.9911rem + 8.4821vw, 10.625rem);
    block-size: clamp(2rem, 0.8571rem + 2.381vw, 3rem);
}


.grid__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(0, var(--thumb-img)));
    grid-auto-rows: 10px;
    grid-auto-flow: row;
    gap: 40px;
    justify-content: center;
}

.gallery__item {
    overflow: hidden;
    border-radius: var(--spc-100);
    box-shadow: 0 4px 8px hsl(0 0% 0% / .5);
    display: flex;
    flex-direction: column;
}

.thumbnail__card {
    display: grid;
    grid-template-areas: 'images';
    border-radius: var(--spc-100);
    height: 100%;
}

.gallery__link {
    height: 100%;
}

.gallery__link img,
.thumbnail__img {
    block-size: 100%;
    display: block;
}

.thumbnail__img {
    grid-area: images;
    object-fit: cover;
}

.thumbnail__figcaption {
    grid-area: images;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: .5rem;
    padding: var(--spc-400);
    block-size: var(--thmb-fig);
    align-self: self-end;
    background: linear-gradient(transparent, hsl(0 0% 0% /.8));
    color: var(--clr-white);
    z-index: 1;
}

.h-fit {
    block-size: fit-content;
}

.self {
    align-self: end;
}

.wrapper__aside {
    display: grid;
    align-items: center;
    justify-items: center;
}

.wrapper__hero {
    display: grid;
    grid-template-areas: 'images';
    justify-items: center;
}

.hero__view {
    grid-area: images;
}

.btn__view {
    --gap: var(--spc-200);
    --jc: center;
    background-color: var(--clr-black);
    color: var(--clr-white);
    justify-self: start;
    align-items: center;
    grid-area: images;
    inline-size: var(--btn-view-i);
    block-size: var(--btn-view-b);
    border-radius: var(--spc-4);
    margin: 1rem;
}

.wrapper__portraid {
    display: grid;
    align-items: center;
    justify-items: start;
}

.wrapper__picture {
    align-self: start;
    inline-size: var(--clamp-picture);
    background-color: var(--clr-white);
    translate: 0 -33%;
}

.picture__text {
    padding: var(--spc-300);
}

.picture__img {
    padding-inline: var(--spc-200);
}

.img__artist {
    inline-size: var(--clamp-artist);
}

@media (min-width: 47em) {
    .wrapper__portraid {
        width: 688px;
        grid-template-areas: 'portraid';
    }

    .wrapper__hero {
        grid-area: portraid;

    }

    .wrapper__picture {
        grid-area: portraid;
        translate: 0;
        background-color: transparent;
        justify-self: end;
    }

    .picture__text {
        display: grid;
        gap: var(--spc-300);
        background-color: var(--clr-white);
        padding: 0 0 var(--spc-800) var(--spc-800);
        inline-size: 100%;
        justify-self: end;
        line-height: 1.15;
    }

    .picture__title {
        font-size: 56px;
        width: 200px;
    }

    .picture__artist {
        line-height: 1.35;
    }

    .picture__img {
        display: grid;
        justify-items: end;
        background-color: transparent;
        justify-self: end;
        padding-inline: var(--spc-700);
    }
}

.wrappers__lead {
    display: grid;
    gap: var(--spc-800);
}

.wrapper__footer {
    inline-size: 100%;
    padding: var(--spc-200) var(--spc-300);
    align-items: center;
    margin-block-start: var(--spc-500);
}

.title__h2 {
    font-size: var(--fs-10);
}

.play__pn {
    align-items: center;
    inline-size: clamp(3.55rem, 1.5172rem + 8.6735vw, 5.675rem);
}

.btn__pn {
    inline-size: clamp(1rem, 0.5217rem + 2.0408vw, 1.5rem);
    block-size: clamp(1rem, 0.5217rem + 2.0408vw, 1.5rem);
    display: flex;
    align-items: center;
}
