:root {
  --clr-white: hsl(0 100% 100%);
  --clr-black: hsl(0 0% 0%);
  --clr-gray-400: hsl(0 0% 49%);
  --clr-grey-200: hsl(0 0% 85%);
  --clr-grey-150: hsl(0 0% 90%);
  --clr-grey-100: hsl(0 0% 95%);
  --clr-grey-493: hsl(0 2% 41%);
}


